<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" package="com.plowand.mudapp" android:installLocation="auto" android:versionName="20.12" android:versionCode="40">
	<uses-sdk android:minSdkVersion="22" android:targetSdkVersion="31" />
	<uses-permission android:name="com.android.vending.BILLING" />
	<uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
	<uses-permission android:name="android.permission.INTERNET" />
	<application android:label="@string/ApplicationName" android:allowBackup="true" android:hardwareAccelerated="true" android:largeHeap="true" android:supportsRtl="true" android:icon="@drawable/icon" android:theme="@style/MainTheme">
		<!-- Microsoft identity client -->
		<activity android:name="microsoft.identity.client.BrowserTabActivity">
			<intent-filter>
				<action android:name="android.intent.action.VIEW" />
				<category android:name="android.intent.category.DEFAULT" />
				<category android:name="android.intent.category.BROWSABLE" />
				<data android:scheme="msal5b5004bd-2c71-4721-8343-ad94828c30ea" android:host="auth" />
			</intent-filter>
		</activity>
		<!-- Google Play Services -->
		<!--<meta-data android:name="com.google.android.gms.version" android:value="@integer/google_play_services_version" />-->
		<!--<meta-data android:name="com.google.android.gms.ads.APPLICATION_ID" android:value="ca-app-pub-3441985749782200~7004778936" />-->
		<!-- AdMob -->
		<!--<activity android:name="com.google.android.gms.ads.AdActivity" android:configChanges="keyboard|keyboardHidden|orientation|screenLayout|uiMode|screenSize|smallestScreenSize" android:theme="@android:style/Theme.Translucent" />-->
	</application>
</manifest>